select[name=tourType] {
    width: 100%;
    color: #000;
}

select[name=durationFrom], select[name=durationTo] {
    width: 49%;
    color: #000;
}

select {
    padding: 0 45px 0 5px;
    height: 40px;
    border: none;
    box-shadow: none;
    line-height: 40px;
    border-radius: 0;
    background: #fff;
}

label[for=tourDate] img {
    cursor: pointer
}

.popular-item-phone.has-error input {
    border: 1px solid #f00 !important;
    color: red;
    -webkit-transition: ease-in-out 0.2s;
    -moz-transition: ease-in-out 0.2s;
    -ms-transition: ease-in-out 0.2s;
    -o-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
}

@media (max-width: 768px) {
    .header .menu .navbar-collapse li a.hot {
        padding-left: 15px !important;
    }
}

.tours-sorting-items a {
    padding: 5px 0;
    color: cadetblue;
}

.search-completed-item-date a:hover {
    background: #ff5500;
    color: #fff;
}

.font38 {
    font-size: 38px;
}

.slider-tour-price {
    background: rgb(253, 228, 14);
    display: inline-block;

}

.slider-tour-price span {
    margin: 5px;
}

input[name=tourDate] {
    letter-spacing: 0.7px;
}

.march-icon {
    position: relative;
}

.march-icon::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    background: url(/img/8icon.png);
}

.may-icon {
    position: relative;
}

.may-icon::before {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
    background: url(/img/9icon.png);
}

#dateFilterToggle {
    display: inline-block;
    padding: 0px;
    margin-left: 10px;
    background: #fff;
    color: #007cbc;
    padding: 3px 10px;
    border-radius: 10px 10px 0 0;
    float: right;
    cursor: pointer;
}

.back-tours {
    background: url(../img/back-tours.jpg) 50% 50% no-repeat !important;

}

.selectFirstLine {
    width: 272px
}

.filterDate {
}

.tour-filter-more > div {
    display: inline-block;
}

.stroke-h {
    background: rgba(255, 255, 255, 0.8);
    display: initial;
    line-height: initial;
}

.stroke-desc {
    background: rgba(255, 255, 255, 0.8);
    display: initial;
}

.sort-open {
    z-index: -1;
}

a.order {
    text-align: center;
}

#sletatForm .filterDate {
    margin-right: 0;
}

.scrollingBlock {
    height: 200px;
    overflow: scroll;
    background: #fff;
    color: #000;
    padding: 5px 0;
}

.scrollingBlock input {
    width: 30px;
    height: 0px;
}

.scrollingBlock div {
    height: 25px;
}

.scrollingBlock span {
    float: none;
    color: brown;
}

.allChecked {
    padding: 5px 0;
    border-bottom: 1px dashed #3aaae4;
    margin-bottom: 10px;
}

.allChecked input {
    width: 30px;
    height: 0;
}

.no-margin-right {
    margin-right: 0;
}

#sletatForm .filterDurations {
    margin-right: 10px !important;
}

.tour-filter-item.half {
    width: 136px;
    margin-right: 0;
}

.tour-filter-item.half .jq-selectbox {
    width: 100%;
}

.tour-filter-item.meals div {
    display: inline-block;
    text-align: center;
}

.tour-filter-item.meals input {
    width: 30px;
    height: 0;
}

.tour-filter-item.meals span {
    float: none;
    color: #fff;
    margin: 0;
}

.tour-filter-item.stars div {
    display: inline-block;
    text-align: center;
}

.tour-filter-item.stars input {
    width: 30px;
    height: 0;
}

.tour-filter-item.stars span {
    float: none;
    color: #fff;
    margin: 0;
}

#sletatForm input[type=submit] {
    width: 270px;
}

.meals .allChecked, .stars .allChecked {
    display: block !important;
}

.background-white{
    background: #fff;
}

.progress-bar-wrapper {
    width: 100%;
}

.progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 0 0 3px 3px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}

.progress-bar-fill {
    display: block;
    height: 22px;
    background-color: #42b0eb;
    border-radius: 3px;
    transition: width 500ms ease-in-out;
}
.modal-body .items img{
    padding-bottom: 5px;
}
.country-tour-count{
    position: absolute;
    top: -38px;
    background: #007cbc;;
    color: #fff;
    padding: 8px 10px 5px;
    border-radius: 20px 20px 0 0;
    font-size: larger;
    font-family: panton;
}
.sidebar li span {
    background: #007cbc33;
    border-radius: 25px;
    padding: 3px 4px;
    position: absolute;
    font-size: 10px;
    right: 41px;
    text-align: center;
}
.card-schedule .title{
    display: inline-block;
}
.btn-expand{
    border: 1px solid #ddd;
    color: #000;
    float: right;
    cursor: pointer;
}
.btn-expand:hover{
    background: #ddd;
    color: #fff;
}